<div class="subheading mb-5">Have something to say? Go <%= link_to "here", new_comment_path(gossip_id: @gossip.id) %> to add a comment!</div>
<div class="row">
  <% @gossip.comments.each do |comment| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="<%= asset_path('three.jpg') %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= comment.content %></h5>
          <p class="card-text">
            <small class="text-muted">
              Posted by <%= link_to comment.user.first_name, user_path(comment.user) %>,
              in <%= link_to comment.user.city.name, city_path(comment.user.city_id) %>
            </small>
          </p>
          
          <% if current_user && current_user == comment.user %>
            <p><%= link_to "EDIT", edit_comment_path(comment), class: 'btn btn-primary' =%></p>
            <p><%= button_to "DELETE", comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></p>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>